@model SKSLearningSystem.Models.ViewModels.SingleCourseViewModel


<div>
    <a href=" @Url.Action("takecourse","course",new { courseId= Model.CourseStateId},null)">

        <img class="course-picture" src="@Url.Action("RenderImage","Course", new { id = Model.CourseImageId})" />
        <p class="text">@Html.DisplayFor(x => x.CourseName)</p>
        <p class="text">@Html.DisplayFor(x => x.Descrtiption)</p>
    </a>
</div>
