@model SKSLearningSystem.Areas.Admin.Models.UserViewModel

<div id="container">
    <div id="profilePicture">
        <img src="smiley.gif" alt="Smiley face" height="42" width="42">
    </div>
    <div id="personalData">
        <p id="userName">@Model.UserName</p>
    </div>
    <div id="courses">

    </div>
</div>