@model SKSLearningSystem.Models.ViewModels.MyProfileViewModel
    <div id="profileContainer">
        <div id="profilePicture">
            <img id="pic" src="@Url.Action("RenderImage", new {})" />
            <p>
                change picture

                @Html.LabelFor(x => x.ProfilePicture, "Click here to select photos", new { @class = "picEdit", @multiple = "multiple" })

                @Html.TextBoxFor(model => model.ProfilePicture, "",
       new { @type = "file", @multiple = "multiple", @class = "picEdit" })
            </p>
        </div>
    </div>
