.course-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
}

.current-selected {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-template-columns: repeat(1,1fr);
   
}
.single-course {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 21;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 5px;
    margin-bottom: 5%;
    border: solid;
    border-color: #f2f2f2;
    transition: 0s box-shadow;
}

    .single-course:hover {
        margin-bottom: 5.4%;
        border: none;
        -webkit-box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.22);
        box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.22);
        transition-duration: 0.4s;
    }

#image-course {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 2%;
    margin-left: 6%;
}
 /*img {
  height:150px;
  max-width:200px;
}*/
#mandatory-course {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
   

}
#assignementdate {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;


}
#duedate {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
   
 
}

#coursename {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top:3%;
  
}
#course-button {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-right: 20%;
    margin-top: 6%;
    height: 50%;
    width: 75%;
    background-color: #8fbc8f;
    border-color: white;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding-top:5%;
    padding-left:20%;
}

    #course-button:hover {
        background-color: #4d804d;
        border-radius: 5px;
        text-decoration: none;
    }

#filler {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.descriptive{
    font-weight:bold;
}
.nav-one-button {
    border-radius: 10px;
    border-style: none;
    border:solid;
    border-width:thin;
    padding:1%;
    border-color:gray;
    color:gray;
    background-color:white;
}
    .nav-one-button:hover {
        text-decoration: none;
        color: white;
        border: none;
        padding: 1%;
        
        background-color: gray;
    }
