body {
    padding-top: 50px;
    padding-bottom: 20px;
}
#slide-img{
    height:400px;
    width:100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 15px;
    margin-top: 90px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-fluid {
    height: 70px;
    padding: 20px, 30px;
    line-height: 50px;
}

.navbar-nav > li > a {
    line-height: 50px;
}

.navbar-brand {
    line-height: 50px;
}

.navbar-inverse {
    background-color: #437043;
    border-color: lightslategrey;
}

.navbar-fixed-left {
    width: 50px;
    position: fixed;
    border-radius: 0;
    background-color: #437043;
    border-color: #437043;
    height: 100%;
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.4s ease;
}

.navbar-fixed-left:hover {
    -webkit-box-shadow: 54px 0px 124px 36px rgba(0,0,0,0.56);
    -moz-box-shadow: 54px 0px 124px 36px rgba(0,0,0,0.56);
    box-shadow: 54px 0px 124px 36px rgba(0,0,0,0.56);
    position: fixed;
    width: 176px;
    /*transition: box-shadow 0.4s ease;*/
}



.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
}

.navbar-fixed-left .navbar-nav > li > a {
    height: 70px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    padding-left: 15px;
    color: white;
}

.navbar-fixed-left .navbar-nav > li > a:hover {
    background-color: #305030;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}



    /* On using dropdown menu (To right shift popuped) */

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.text-for-icons {
    position: relative;
    left: -200px;
}

.navbar-fixed-left:hover .spanche {
    left: 0;
}

.spanche {
    position: relative;
    left: -2000px;
    padding-left: 20px;
}



#greasy-line {
    border-color: lightslategrey;
    background-color: lightslategrey;
    margin-top: 9px;
    width: 100%;
}

.navbar-fixed-left:hover #greasy-line {
    width: 178px;
}

#side {
    width: 50px;
}

.navbar-fixed-left:hover #side {
    width: 175px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #305030;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover {
    background-color: #305030;
}
.reduced{
    width:200px;
    height:150px;
}