body {
    background-color: #305030;
}
.sheet {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 7%;
    padding-bottom:5%;
    background-color: white;
    -webkit-box-shadow: 24px 29px 40px 17px rgba(0,0,0,0.48);
    -moz-box-shadow: 24px 29px 40px 17px rgba(0,0,0,0.48);
    box-shadow: 24px 29px 40px 17px rgba(0,0,0,0.48);
    border-radius: 10px;
}
.inner-sheet{
    padding:6%;
}
.statement{
    font-weight:bold;
    font-size:130%;
}
.answer{
    font-size:105%;
}
.question{
    margin-left:6%;
}
.exam-name{
    margin-left:35%;
}
.btn-upload {
    font-size: 130%;
    border-radius: 25px;
    background-color: darkseagreen;
    border: none;
    color: white;
    padding: 1.5%;
    float:right;
}

    .btn-upload:hover {
        background-color: darkgreen;
    }
.failed-box {
    background-color: lightpink;
    border-color: darkred;
    border-radius: 15px;
    border: solid;
    color: darkred;
    font: bold;
    margin-right: 6%;
    margin-left: 6%;
}
.text-failed{
    padding:4%;

}
.return-home {
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    float: right;
    margin-right: 6%;
    margin-top: 1%;
    padding: 2%;
}
.return-home:hover {
    text-decoration: none;
    background-color: darkred;
   
}

.passed-box {
    background-color: lightgreen;
    border-color: darkgreen;
    border-radius: 15px;
    border: solid;
    color: darkgreen;
    font: bold;
    margin-right: 6%;
    margin-left: 6%;
}

.text-passed {
    padding: 4%;
}

.return-home-passed {
    text-decoration: none;
    background-color: forestgreen;
    color: white;
    border-radius: 10px;
    float: right;
    margin-right: 6%;
    margin-top: 1%;
    padding: 2%;
}

    .return-home-passed:hover {
        text-decoration: none;
        background-color: darkgreen;
    }