@model SKSLearningSystem.Areas.Admin.Models.TakeTestViewModel
    <div class="failed-box">

        <div class="text-failed">
            Sorry, you have failed please try again.       
            Your grade is @Model.Grade%

            
        </div>
      
    </div>
@Html.ActionLink("Return to Home page", "Index", "Home", null, new { @class = "return-home" })


