
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="alertContainer">
    <h1 class="alertUser"> Course Uploaded</h1>
</div>


<script type="text/javascript">
  var wait = window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "@Url.Action( "uploadcourse","admin")";

    }, 3000);
</script>