@model SKSLearningSystem.Areas.Admin.Models.AssignCourseViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2> Courses Assigned</h2>



@{
   

    System.Threading.Thread.Sleep(3000);
    Response.Redirect("assigncourse");
}



