@using (Ajax.BeginForm("assigncoursetousers", "admin", null, new AjaxOptions() { UpdateTargetId = "field-assign" }, new { @class = "form-assign" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="search">
        Course: 
        @Html.TextBox("courseName", "", new { @class = "text-field" })
        <button class="search-btn" type="submit">Search</button>
    </div>
    
}
<div id="field-assign">

</div>