
@{
    ViewBag.Title = "AssignChoose";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="btn-wrapper">
    @Ajax.ActionLink("Assign course to users", "assigncoursetousers", null, new AjaxOptions() { UpdateTargetId = "place-select" }, new { @class = "choose-btn" })
    @Ajax.ActionLink("Assign department to course", "assigndeptocourse", null, new AjaxOptions() { UpdateTargetId = "place-select" }, new { @class = "choose-btn" })
    @Ajax.ActionLink("Assign many to many", "assigncourse", null, new AjaxOptions() { UpdateTargetId = "place-select" }, new { @class = "choose-btn" })
</div>

<div id="place-select">

</div>