
@{
    ViewBag.Title = "AssignDepToCourse";
    Layout = null;
}


@using (Ajax.BeginForm("AssignDepToCourse", "admin", null, new AjaxOptions() { UpdateTargetId = "field-assign" }, new {@class="form-assign dept-assign" }))
{
    <div class="half-search" >
        <label for="depname">Department</label>
        @Html.TextBox("depName")
    </div>
    
    
    
    <div class="full-search">
        <label for="courseName">Course</label>
        @Html.TextBox("courseName")
    </div>
   

    <button class="search-btn" type="submit">Search</button>
}
<div id="field-assign">

</div>
