@model SKSLearningSystem.Areas.Admin.Models.AssignCourseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>You Have Selected</h2>

@using (Html.BeginForm("CompleteAssignment", "Admin", FormMethod.Post))
{
    <div id="container2">
        <div id="users">
            @for (int i = 0; i < Model.Users.Count; i++)
            {

                if (Model.Users[i].Checked == true)
                {
                    <p> @Model.Users[i].UserName</p>
                }

            }
        </div>
        <div id="courses">
            @for (int i = 0; i < Model.Courses.Count; i++)
            {

                if (Model.Courses[i].Checked == true)
                {
                    <p> @Model.Courses[i].Name</p>
                }

            }
        </div>
    </div>
    <div id="butt">
     <p class="pressMe">@Html.ActionLink("Confirm Assignment", "AssignCourse", "Admin", new { area = "Admin" }, null)</p> 
        <p class="pressMe">@Html.ActionLink("Chose New Assignmet", "AssignCourse", "Admin", new { area = "Admin" }, null)</p>  
        
    </div>
        }
