
@{
    ViewBag.Title = "MonitorUsersProgress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="overdue-field">
    <table id="grps"></table>
    <div id="pgrps"></div>
</div>

<div class="pending-field">

</div>

<div class="started-field">

</div>

<div class="completed-field">

</div>
